.custom-title{
    padding: 6px 0;
    border-bottom: 1px solid #eee;
}
.custom-title a{
    border-bottom: 0;
    text-decoration: none;
    padding: 3px;
}
.custom-title a:hover{
    background-color: red;
}

.nostr-profile-section {
    margin: 1.5rem 0 2rem 0;
}

.nostr-profile-section nostr-event {
    display: block;
    width: 100%;
}

